@{
    Layout = null;
    ViewData["Title"] = "ApniShop";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ApniShop.com</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <a class="logo"> Apni Shop </a>
    <a asp-area="" asp-controller="Register" asp-action="RegistrationPage" class="registerbtn">Register</a>
    <a asp-area="" asp-controller="Login" asp-action="LoginPage" class="loginbtn">Login</a>
</body>
</html>