
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Go To Login Page</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1 class="text-center">Registration Sucessfull!!</h1>
    <a asp-area="" asp-controller="Login" asp-action="LoginPage" style="margin-left:700px; margin-top:50px;" class="loginbtn">Login</a>
</body>
</html>